{#
 # @package Language
 # @author Nikita Loges
 # @company tenolo GbR
 #}

{# template extend #}
{% extends "TenoloAdminControlPanelBundle:List/Table:table.html.twig" %}

{# {@inheritdoc} #}
{% block pageNavigationLeftButtons %}
    {{ parent() }}

    <a href="{{ path(route.cacheClear) }}" class="btn btn-danger">{{ fa('trash-o') }} {{ 'translation.cache.clear'|trans }}</a>
{% endblock %}

{# {@inheritdoc} #}
{% block tableRowHeader %}
    {{ table.header('form.list.column.header.name'|trans) }}
    {{ table.header(knp_pagination_sortable(objects, 'Länder-Code', 'p.locale')) }}
{% endblock %}

{% block itemContent %}
    {{ parent() }}

    {{ table.rowcolumn(o.locale) }}
{% endblock %}