<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'translation.language.object.plural'|trans({}, 'entities') }} {{ fa('caret-down') }}</a>
    <ul class="dropdown-menu">
        <li class="dropdown-header">{{ 'translation.language.object.plural'|trans({}, 'entities') }}</li>
        <li><a href="{{ path('acp.translation.language.list') }}">{{ fa('bars', true) }} {{ 'translation.language.object.plural'|trans({}, 'entities') }} {{ 'action.list'|trans }}</a></li>
        <li><a href="{{ path('acp.translation.language.add') }}">{{ fa('plus', true) }} {{ 'translation.language.object.singular'|trans({}, 'entities') }} {{ 'action.add'|trans }}</a></li>
        <li class="divider"></li>
        <li class="dropdown-header">{{ 'translation.domain.object.plural'|trans({}, 'entities') }}</li>
        <li><a href="{{ path('acp.translation.domain.list') }}">{{ fa('bars', true) }} {{ 'translation.domain.object.plural'|trans({}, 'entities') }} {{ 'action.list'|trans }}</a></li>
        <li><a href="{{ path('acp.translation.domain.add') }}">{{ fa('plus', true) }} {{ 'translation.domain.object.singular'|trans({}, 'entities') }} {{ 'action.add'|trans }}</a></li>
        <li class="divider"></li>
        <li class="dropdown-header">{{ 'translation.token.object.plural'|trans({}, 'entities') }}</li>
        <li><a href="{{ path('acp.translation.token.list') }}">{{ fa('bars', true) }} {{ 'translation.token.object.plural'|trans({}, 'entities') }} {{ 'action.list'|trans }}</a></li>
        <li><a href="{{ path('acp.translation.token.add') }}">{{ fa('plus', true) }} {{ 'translation.token.object.singular'|trans({}, 'entities') }} {{ 'action.add'|trans }}</a></li>
        <li class="divider"></li>
        <li class="dropdown-header">{{ 'translation.object.plural'|trans({}, 'entities') }}</li>
        <li><a href="{{ path('acp.translation.list') }}">{{ fa('bars', true) }} {{ 'translation.object.plural'|trans({}, 'entities') }} {{ 'action.list'|trans }}</a></li>
        <li><a href="{{ path('acp.translation.add') }}">{{ fa('plus', true) }} {{ 'translation.object.singular'|trans({}, 'entities') }} {{ 'action.add'|trans }}</a></li>
    </ul>
</li>