{#
 # @package Translation
 # @author Nikita Loges
 # @company tenolo GbR
 #}

{# template extend #}
{% extends "TenoloAdminControlPanelBundle:List/Table:table.html.twig" %}

{# @inheritdoc #}
{% block tableRowHeader %}
    <th>{{ knp_pagination_sortable(objects, 'Wert', 'p.translation') }}</th>
    <th>{{ knp_pagination_sortable(objects, 'Token', 'p.token') }}</th>
    <th>{{ knp_pagination_sortable(objects, 'Sprache', 'p.language') }}</th>
{% endblock %}

{# @inheritdoc #}
{% block itemContent %}
    <td><a href="{{ path(route.edit, { "id": o.id }) ~ }}">{{ o.translation }}</a></td>
    <td>{{ o.token.name }}</td>
    <td>{{ o.language.name }}</td>
{% endblock %}